@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #f7f8fc;
    color: #141c2c;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

a {
    color: #2762eb;
    text-decoration: none;
}

.container{
    background-color: white;
    border-radius: 3px;
    border: 20px solid #dce7ff;
    width: 1000px;
    max-width: 100%;
    display: flex;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

form{
    border-right: 1px solid #ecf2ff;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex: 1; 
}

.form-control{
    margin: 10px 0;
    width: 100%;
}

label{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

input:not([type='checkbox']){
    background-color: transparent;
    border: 2px solid #ecf2ff;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width:100%;
}

.checkbox-container{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
}

.checkbox-container label{
    color: #7a7e8c;
    font-weight: normal;
}

.checkbox-container a{
    margin-left: auto;
}

.btn{
    cursor: pointer;
    background-color: #141c2c;
    border: 2px solid #141c2c;
    border-radius: 3px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
}
.btn-ghost{
    background-color: transparent;
    border-color: #ecf2ff;
    color:#141c2c; 
}

.btn img{
    margin-right: 5px;
    width: 20px;
}

.features{
    flex: 1;
}